.sobre-container {
  
  font-family: 'Segoe UI', sans-serif;
  color: #001f4d;
}

.historia {
  color:#000000;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  text-align: center;
}

.historia-content {
   margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.historia-text {
  max-width: 500px;
  text-align: left;
}

.historia-text ul {
  margin-top: 1rem;
  list-style: disc;
  padding-left: 1.2rem;
}

.historia-content img {
  width: 300px;
  border-radius: 1rem;
}

.estadisticas {
  
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 2rem;
  background: white;
  flex-wrap: wrap;
}
.img-white {
  background-color: #001f4d; /* Fondo azul oscuro */
  padding: 10px;
  border-radius: 8px;
  max-width: 60px;
  display: block;
  margin: 0 auto 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.img-white:hover {
  background-color: #001f4d; /* Fondo azul al pasar el mouse */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card {
  background: #eee;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  width: 150px;
   transition: background-color 0.3s ease;
  cursor: pointer; /* opcional, para que se note que es interactivo */
}
.card:hover {
  background-color: #001f4d; /* Fondo azul al hacer hover */
  color: white; /* Cambia texto a blanco para mejor contraste */
}



.equipo {
  
  color:#000000;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  text-align: center;
}

.miembros {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.miembro img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
  border-radius: 0; 
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 2rem;
  background: white;
  text-align: center;
}

.icono {
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
  margin-top: 5px;
  max-width: 200px;
  width: 200px; /* ancho fijo para que el texto se ajuste bien */
  white-space: normal; /* asegura que el texto pueda hacer salto de línea */
  overflow-wrap: break-word; /* para romper palabras largas si hiciera falta */
}


.footer {
  background: #000000;
  color: white;
  padding: 2rem;
  font-size: 0.9rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer-logo input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 0.8rem;
}
